# Go source files
*.go text eol=lf

# Shell
*.sh text eol=lf

# Windows scripts
*.bat text eol=crlf

# Markdown
*.md text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# Makefile
Makefile text eol=lf
